img{
    max-width: 300px;
    max-height: 300px;
}
.delete-button
{
    background-color: red;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
}
.delete-button:hover{
    background-color: darkred
}