nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #0d4683;
    height: 5vh;
    padding: 0 20px; 
    margin-top: 1%;
    color: white;
}

.carrinho {
    max-width: 45px;
    max-height: 45px;
}

header {
    background: #007bff;
    height: 20vh;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #0d4683;
    height: 5vh;
    padding: 0 20px;
    color: white;
    position: relative;
    z-index: 10;
}

.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: white;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    position: relative;
    z-index: 1;
    width: 100%;
    text-align: center;
}

.imagem {
    max-width: 20%;
    max-height: 20%;
}

a {
    color: inherit;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
    text-decoration: none;
}

.logout {
    background-color: white; 
    color: #007bff; 
    border: 2px solid #007bff;
    padding: 3px 15px; 
    font-size: 16px; 
    font-weight: bold;
    border-radius: 5px; 
    cursor: pointer; 
}

.logout:hover {
    background-color: #007bff; 
    color: white; 
    border-color: white; 
}